modeleDonnees/pointsModel.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="points">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="point" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pointName" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1" />
                                        <xs:maxLength value="30" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="E" type="xs:float" minOccurs="1" maxOccurs="1" />
                            <xs:element name="N" type="xs:float" minOccurs="1" maxOccurs="1" />
                            <xs:element name="H" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:union>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:length value="0" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:float">
                                                <xs:minExclusive value="0" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:union>
                                </xs:simpleType>
                            </xs:element>
							<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

